	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************/
header .sidenav {
	display: none;
}
/*******/

.wrapper{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.center{
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

/*******/

  
/**************/	 
  

.container-first header{
	display: flex;
	justify-content: space-between;
	
}

.container-first header .menu ul{ 
	display: inline-flex;
	padding-top: 43px;
	
}

header .logo {
	position: relative;
}

header .menu ul li a{
	font-family: 'Open sans';
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	color: #424242;
	text-decoration: none;
	transition: 0.2s;
	margin-left: 50px;
}

header .menu ul li a:hover{
	padding-bottom: 5px;
	border-bottom: solid 1px #D8B152;
}

header .menu ul li .first{
	margin-left: 0px;
	
}




/***uslugi(наши награды)****/

.uslugi{
	padding-top: 5px;
	
}

.uslugi h2{
	font-family: 'Open Sans';
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
	padding-bottom: 10px;
}

.uslugi .items .first,
.uslugi .items .second,
.uslugi .items .third,
.uslugi .items .fourth,
.uslugi .items .fifth,
.uslugi .items .sixth{
	display: grid;
	grid-template-columns: 360px 1fr;
	grid-template-rows: auto;
	column-gap: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #AEA38B;
	position: relative;
	
	
	
}

.uslugi .items .first .pic,
.uslugi .items .second .pic,
.uslugi .items .third .pic,
.uslugi .items .fourth .pic,
.uslugi .items .fifth .pic,
.uslugi .items .sixth .pic{
	grid-column: 1;
	grid-row: 1/ span 3;
	width: 360px;
	height: 250px;
	
}

.uslugi .items .first img,
.uslugi .items .second img,
.uslugi .items .third img,
.uslugi .items .fourth img,
.uslugi .items .fifth img,
.uslugi .items .sixth img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: 1s;
	


	
	
}

.uslugi .items .first img:hover,
.uslugi .items .second img:hover,
.uslugi .items .third img:hover,
.uslugi .items .fourth img:hover,
.uslugi .items .fifth img:hover,
.uslugi .items .sixth img:hover{
	transform: scale(1.2); 
}

.uslugi .items .first h3,
.uslugi .items .second h3,
.uslugi .items .third h3,
.uslugi .items .fourth h3,
.uslugi .items .fifth h3,
.uslugi .items .sixth h3{
	position: relative;
	top: 0;
	grid-column: 2;
	grid-row: 1;
	font-family: 'Open Sans';
    font-size: 28px;
    line-height: 140%;
    
    color: #424242;
	padding-bottom: 20px;
	
	
	
}

.uslugi .items .first p,
.uslugi .items .second p,
.uslugi .items .third p,
.uslugi .items .fourth p,
.uslugi .items .fifth p,
.uslugi .items .sixth p{
	position: relative;
	grid-column: 2;
	grid-row: 2;
	
	font-family: 'Open Sans';
    font-size: 18px;
    line-height: 150%;
    
    color: #424242;
	
	
	
}

.uslugi .items .btn-head{
	width: 260px;
	grid-column: 2;
	grid-row: 3;
	position: absolute;
	bottom: 50px;
}




.uslugi .items .first .btn-head a,
.uslugi .items .second .btn-head a,
.uslugi .items .third .btn-head a,
.uslugi .items .fourth .btn-head a,
.uslugi .items .fifth .btn-head a,
.uslugi .items .sixth .btn-head a{
	text-decoration: none;
	font-family: 'Open Sans';
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
	padding: 17px 80px;
	background-color: #D8B152;
	display: block;
	transition: 0.8s;


}

.uslugi .items .first .btn-head a:hover,
.uslugi .items .second .btn-head a:hover,
.uslugi .items .third .btn-head a:hover,
.uslugi .items .fourth .btn-head a:hover,
.uslugi .items .fifth .btn-head a:hover,
.uslugi .items .sixth .btn-head a:hover{
    color: #D8B152;
	background-color: #000000;
}

/********************************************/


/**********************************************/

footer {
	background-color: #202020;
	margin-top: 140px;
	position: relative;

}

a:hover{
    color: #D8B152;
}


footer .logo img{
	width: 260px;
	padding-top: 60px;
	margin-right: 30px;
	vertical-align: bottom;
	
	
}

footer h6{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	margin-bottom: 20px;
	padding-top: 140px;
} 

footer ul li{
	margin-bottom: 10px;
}

footer a{
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
		
}

footer .footer-top{
	display: flex;
	padding-bottom: 50px;
	border-bottom: 1px solid #D8B152;
}

footer .footer-top .information{
	
	padding-right: 108px;
	
}

footer .footer-top .information ul{
	width: 100%;
}

footer .footer-top .information ul li a{
	display: flex;
	width: 192px;
}



footer .footer-top .contacts{
	margin-right: 84px;
	width: 216px;

}

footer .footer-top .contacts a{
    display: flex;
	
}

footer .footer-top .contacts .telephone{
	margin-bottom: 10px;
}

footer .footer-top .contacts .telephone img,
footer .footer-top .contacts .mail img{
	vertical-align: text-bottom;
	margin-right: 10px;
}

footer .footer-top .contacts .telephone,
footer .footer-top .contacts .mail{
	display: flex;
	width: 100%;
	
}

footer .footer-top .social ul {
	display: flex;
}
footer .footer-top .social ul li {
	margin-right: 20px;
	padding: 13px;
	
    border: 1px solid #D8B152;
    
	
	transition: 0.8s;

}

footer .footer-top .social ul li:nth-child(2) a img:nth-child(2),
footer .footer-top .social ul li:nth-child(3) a img:nth-child(2),
footer .footer-top .social ul li:nth-child(4) a img:nth-child(2){
	display: none;
}

footer .footer-top .social ul li:hover{
	background: #D8B152;

	
}

footer .footer-top .social ul li:nth-child(2):hover a img:nth-child(1),
footer .footer-top .social ul li:nth-child(3):hover a img:nth-child(1),
footer .footer-top .social ul li:nth-child(4):hover a img:nth-child(1)
{
	display: none;
}

footer .footer-top .social ul li:nth-child(2):hover a img:nth-child(2),
footer .footer-top .social ul li:nth-child(3):hover a img:nth-child(2),
footer .footer-top .social ul li:nth-child(4):hover a img:nth-child(2){
	display: block;
	width: 24px;
	height: 24px;
}

footer .footer-top .social ul li:first-child {
	background: #D8B152;
}



footer .footer-bottom{
	padding-top: 50px;
	padding-bottom: 48px;
	display: flex;
	justify-content: space-between;
}


footer .footer-bottom p a{

	font-size: 16px;
	line-height: 22px;
	border-bottom: 1px solid  #FFFFFF;
	color: #FFFFFF;
	
}

footer .footer-bottom p a:hover{

	color: #D8B152;
	border-bottom:1px solid #D8B152;

}

.accordion-header{
	border-top: 1px solid #D8B152;
				border-bottom: 1px solid #D8B152;
}

.accordion-item{
		background-color: #202020;
	}

	.accordion h5{
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: #FFFFFF;
		margin-bottom: 20px;
		background-color: #202020;
		border: 1px solid #D8B152;
		
	} 

	.accordion-item {
		display: none;
		border: none;
	}

	 .accordion-item	h2{
			background-color: #202020;
			font-size: 20px;
			color: #fff;
			width: 100%;
	}
 .accordion-item	button{
				background-color: #202020;
				font-size: 20px;
				color: #fff;
				width: 100%;
				padding-left: 0;
				padding-right: 0;

			}
			.accordion-body{
				color: #D8B152;
				background-color: #202020;
				width: 100%;
				
			}
		 .accordion-item	button ul{
				color: #D8B152;
				background-color: #202020;
				width: 100%;	
			}

			.accordion-button:not(.collapsed){
				color: #D8B152;
				background-color: #202020;
				
				width: 100%;
			}

			.accordion-button::after{
				content: "+";
				background-image: none;
			}

			.accordion-button:not(.collapsed)::after{
				transform: rotate(-225deg);
				background-image: none;
				margin-top: 10px;
			}


/*****************ThemE***************************/

.dropdown{
    display: flex;
	justify-content: flex-end;
	height: 20px;
}

.dropdown a{
	padding-top: 0px;
    text-decoration: none;
    margin-top: 44px;
    
    font-weight: bold;
    font-size: 20px;
    
    color: #000000;
    transition: 0.5s;
	height: 20px;
}
.dropdown .material-icons{
    font-size: 50px;
    
}


.dropdown a:hover{
    color: #D8B152;
}	



.dark body{
	background-color: black;
	
}
.dark .dropdown a:hover{
    color: #D8B152;
}

.dark .menu ul li a {
	color: #FFFFFF;
}
.dark h2{
	color: #FFFFFF;
}
.dark .uslugi .items h3{
	color: #FFFFFF;
}
.dark .uslugi .items p{
	color: #FFFFFF;
}
.dark footer{
	background-color: black;
}

.dark .uslugi .items .first .btn-head a:hover,
.dark .uslugi .items .second .btn-head a:hover,
.dark .uslugi .items .third .btn-head a:hover,
.dark .uslugi .items .fourth .btn-head a:hover,
.dark .uslugi .items .fifth .btn-head a:hover,
.dark .uslugi .items .sixth .btn-head a:hover{
	background-color: #FFFFFF;
}


.dark .container-first .logo img:nth-child(1){
	display: none;
}
.dark .container-first.center .center .dropdown a span{
	color: #FFFFFF;
	transition: 0.5s;
}
.dark .container-first.center .center .dropdown a {
	color: #FFFFFF;
	transition: 0.5s;
}

.dark .container-first.center .center .dropdown a span:hover{
	color: #D8B152;
}
.dark .container-first.center .center .dropdown a:hover {
	color: #D8B152;
}

.dark .sidenav a{
	color: #FFFFFF;
}

.dark .sidenav .closebtn {
	color: #FFFFFF;
}
.dark .sidenav .closebtn:hover {
	color: #D8B152;
}

.dark .container-first .logo img:nth-child(2){
	display: inline-block;
	width: 200px;
	height: 155px;
	
}
.container-first .logo img:nth-child(2){
	display: none;
}
.container-first .logo img:nth-child(1){
	display: block;
}

.dark .accordion-item button{
	background-color: #000000;
		}
		.dark .accordion-body{
			background-color: #000000;	
		}
		

@media screen and (max-width: 1500px) {
	
    .center{
		width: 95%;
	}

	.head-content {
		flex-wrap: wrap;
	}

	.head-content .left-content{
		width: 100%;
		
	}

	

	.uslugi .items{
		display: flex;
		flex-wrap: wrap;
		
		column-gap: 30px;
		row-gap: 30px;
	}

	

	

	.instagram .pics{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 30px;
		row-gap: 30px;
	}

	footer .footer-top{
		justify-content: space-between;
		flex-wrap: wrap;
		

	}
	footer .footer-top .information{
		width: auto;
		padding-right: 10px;

	}

	footer .footer-top .contacts{
		width: auto;
		margin-right: 0;
		padding-right: 10px;
	}
}

	@media screen and (max-width: 1100px) {

		.uslugi .items .first, .uslugi .items .second, .uslugi .items .third, .uslugi .items .fourth, .uslugi .items .fifth, .uslugi .items .sixth{
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.uslugi .items .first h3, .uslugi .items .second h3, .uslugi .items .third h3, .uslugi .items .fourth h3, .uslugi .items .fifth h3, .uslugi .items .sixth h3{
			grid-row: 1/ span 2;
		}
		.uslugi .items .btn-head{
			position: relative;
			bottom: 0;
			margin-top: 10px;
			margin-bottom: 10px;
			grid-column: 1;
			grid-row: 4;
			width: 100%;

		}

		.uslugi .items .first p, .uslugi .items .second p, .uslugi .items .third p, .uslugi .items .fourth p, .uslugi .items .fifth p, .uslugi .items .sixth p{
			grid-row: 3/ span 4;
		}

		.uslugi .items .first .btn-head a,
.uslugi .items .second .btn-head a,
.uslugi .items .third .btn-head a,
.uslugi .items .fourth .btn-head a,
.uslugi .items .fifth .btn-head a,
.uslugi .items .sixth .btn-head a{
			display: block;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}





}

   @media screen and (max-width: 850px) {

	header .menu ul li a{
						margin-left: 30px;
					}
	.uslugi .items .first h3, .uslugi .items .second h3, .uslugi .items .third h3, .uslugi .items .fourth h3, .uslugi .items .fifth h3, .uslugi .items .sixth h3{
		font-size: 25px;
		line-height: 140%;
	}




   }


   @media screen and (max-width: 768px) {
	   /*************BURGER*************/

				.dropdown{
					margin-top: 15px;
				}

				.dropdown a{
					margin-top: 0;
				}
		
				header .open {
					margin: 27px 0 0 0;
					right: 0;
					float: right;
					cursor: pointer;
					height: 16px;
					transform: rotate(180deg);
					
				}
				header .open span{
					padding: 0;
				}
			
				header .sidenav {
					display: flex;
					flex-direction: column;
				}
		
				.bar1 {
				 
						width: 65px;
						height: 2px;
						background-color: #D8B152;
						
					   
						
					  }
				.bar2{
						width: 40px;
						height: 2px;
						background-color: #D8B152;
						margin: 5px 0 5px 0;
									
			
				}
				.bar3 {
						width: 65px;
						height: 2px;
						background-color: #D8B152;
						
				}
			
			.sidenav {
				height: 100%; /* 100% Full-height */
				width: 0; /* 0 ширина - изменить это с помощью JavaScript */
				position: fixed; /* Оставайтесь на месте */
				z-index: 2; /* Оставайтесь сверху */
				top: 0; /* Оставайтесь наверху */
				right: 0;
				background-color: #857a62; /* Фон белый*/
				overflow-x: hidden; /* Отключить горизонтальную прокрутку */
				padding-top: 60px; /* Поместите контент в 60px сверху */
				transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
				
			  }
			  
			  /* Ссылки меню навигации */
			  .sidenav a {
				margin-left: 50px;
				margin-right: 50px;
				text-align: right;
			   
				
			   
			  
			   
				transition: 0.3s;
			 
			
				display: block;
				
			  
				color: #000000;
			  
				
				font-weight: 600;
				font-size: 25px;
				line-height: 34px;
				padding-bottom: 20px;
				text-decoration: none;
			  
				
				
			  }
			  
			  /* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
			  .sidenav a:hover {
				color: #D8B152;
			  }
			  
			  /* Положение и стиль кнопки закрытия (верхний правый угол) */
			  .sidenav .closebtn {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 50px;
				margin-right: 0;
				color: #000000;
			  }

			  .sidenav .closebtn:hover{
				color: #D8B152;
			  }

	.container-first .logo img{
		width: 85px;
		height: 85px;
	}

	.dropdown a{
		
		padding-top: 10px;
		font-size: 15px;
	}

	.dropdown .material-icons{
		font-size: 20px;
	}

	.dark .container-first .logo img:nth-child(2){
		width: 85px;
		height: 85px;
	}


	.container-first .logo img:nth-child(2){
		width: 85px;
		height: 85px;
	}

	header .menu{
		display: none;
	}

	.head-content .left-content h1{
		font-size: 25px;
	}

	.head-content .right-content p{
		font-size: 16px;
		text-align: left;
	}

	.head-content .right-content .btn-head{
		text-align: left;
		
	}


	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom: 30px;
	  
		
	}
  
	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
	  margin-left: 5px;
	  margin-right: 5px;
	}
  
	.swiper-pagination-bullet{
		width: 12px;
		height: 12px;
		
	}

	.uslugi h2{
		font-size: 25px;
        line-height: 34px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.uslugi .items{
		display: block;
	}

	.uslugi .items .first, .uslugi .items .second, .uslugi .items .third, .uslugi .items .fourth, .uslugi .items .fifth, .uslugi .items .sixth{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		row-gap: 20px;
	}
	.uslugi .items .first .pic, .uslugi .items .second .pic, .uslugi .items .third .pic, .uslugi .items .fourth .pic, .uslugi .items .fifth .pic, .uslugi .items .sixth .pic{
		grid-column: 1;
		grid-row: 1;
		justify-self: center;
	}

.uslugi .items .first h3, .uslugi .items .second h3, .uslugi .items .third h3, .uslugi .items .fourth h3, .uslugi .items .fifth h3, .uslugi .items .sixth h3{
		grid-column: 1;
		grid-row: 2;
		padding-bottom: 0;
		font-size: 18px;
		text-align: center;
		width: 360px;
		margin: 0 auto;
	}

	.uslugi .items .first p, .uslugi .items .second p, .uslugi .items .third p, .uslugi .items .fourth p, .uslugi .items .fifth p, .uslugi .items .sixth p{
		grid-column: 1;
		grid-row: 3;
		font-size: 14px;
        line-height: 150%;
		text-align: center;
		width: 360px;
		margin: 0 auto;
	}

	

	.uslugi .items .btn-head{
		grid-column: 1;
		grid-row: 4;
		width: 360px;
		margin: 0 auto;

	}
    



footer{
	margin-top: 100px;
}

footer .footer-top{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	row-gap: 50px;
	column-gap: auto;
	justify-items: space-between;
	padding-bottom: 0;
	border: 0;
}
footer .logo{
    grid-column: 1;
	grid-row: 1;
	position: relative;
	
}

footer .logo img{
	width: 110px;
	position: absolute;
   bottom: -28px;
    
}

footer .footer-top .information{
	display: none;

}

footer .footer-top .contacts{
	padding-top: 95px;
	grid-column: 2;
	grid-row: 1;
	padding-right: 0;
	justify-self: flex-end;
}

footer .footer-top .social{
	grid-column: 1 / span 2;
	grid-row: 2;
	
}







footer h6{
	display: none;
}

.accordion-item {
	display: block;
	width: 100%;
	grid-column: 1 / span 2;
}





   }

   @media screen and (max-width: 435px) {
    .container-first{
		width: 85%;
		margin: 0 auto;
		
	}
	.uslugi h2{
		width: 85%;
		margin: 0 auto;
		
		
	}

	.head-content .right-content .btn-head a{
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.uslugi .items .first .pic, .uslugi .items .second .pic, .uslugi .items .third .pic, .uslugi .items .fourth .pic, .uslugi .items .fifth .pic, .uslugi .items .sixth .pic{
		width: 300px;
		height: 200px;
	}

	.uslugi .items .first, .uslugi .items .second, .uslugi .items .third, .uslugi .items .fourth, .uslugi .items .fifth, .uslugi .items .sixth{
		width: 300px;
		margin: 0 auto;
	}

	.uslugi .items .btn-head{
		width: 100%;
	}

	footer .footer-top{
		width: 85%;
	}

	footer .footer-bottom{
		width: 85%;
	}
	footer .footer-top .social ul{
		justify-content: space-between;
	}

	footer .footer-top .social ul li{
		margin: 0;
	}

	footer .footer-bottom{
		padding-top: 90px;
		padding-bottom: 50px;
		justify-content: center;
		flex-wrap: wrap;
		border: 0;
	}

	.uslugi .items .first h3, .uslugi .items .second h3, .uslugi .items .third h3, .uslugi .items .fourth h3, .uslugi .items .fifth h3, .uslugi .items .sixth h3{
		text-align: left;
		width: 300px;
	}

	.uslugi .items .first p, .uslugi .items .second p, .uslugi .items .third p, .uslugi .items .fourth p, .uslugi .items .fifth p, .uslugi .items .sixth p{
		text-align: left;
		width: 300px;
	}

	footer .footer-bottom p{
		margin-bottom: 20px;
		width: 100%s;
		text-align: center;
	}

	footer .footer-bottom p:last-child{
		margin-bottom: 0px;
	}

	@media screen and (max-width: 385px) {

		
		footer .logo{
			display: none;
		}
		footer .footer-top .contacts{
			grid-column: 1 / span 2;
			justify-self: center;
		}
	}



	
}