@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans';
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******/
.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

/*******/
header .sidenav {
  display: none;
}

/*****************ThemE***************************/
.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20px;
}

.dropdown a {
  padding-top: 0px;
  text-decoration: none;
  margin-top: 44px;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 20px;
}

.dropdown .material-icons {
  font-size: 50px;
  height: 5px;
}

.dropdown a:hover {
  color: #D8B152;
}

.dark body {
  background-color: black;
}

.dark .menu ul li a {
  color: #FFFFFF;
}

.dark .container-first.center .center .dropdown a span {
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark .container-first.center .center .dropdown a {
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark .container-first.center .center .dropdown a span:hover {
  color: #D8B152;
}

.dark .container-first.center .center .dropdown a:hover {
  color: #D8B152;
}

.dark .sidenav a {
  color: #FFFFFF;
}

.dark .sidenav .closebtn {
  color: #FFFFFF;
}

.dark .sidenav .closebtn:hover {
  color: #D8B152;
}

.dark footer {
  background-color: black;
}

.dark .uslugi h2 {
  color: #FFFFFF;
}

.dark .uslugi .items .first .btn-head a:hover {
  background-color: #FFFFFF;
}

.dark .uslugi .items .second .btn-head a:hover {
  background-color: #FFFFFF;
}

.dark .uslugi .items .third .btn-head a:hover {
  background-color: #FFFFFF;
}

.dark .container-first .logo img:nth-child(1) {
  display: none;
}

.dark .container-first .logo img:nth-child(2) {
  display: inline-block;
  width: 200px;
  height: 155px;
}

.container-first .logo img:nth-child(2) {
  display: none;
}

.container-first .logo img:nth-child(1) {
  display: block;
}

.dark .accordion-item button {
  background-color: #000000;
}

.dark .accordion-body {
  background-color: #000000;
}

/******************************************************/
.container-first header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-first header .menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 43px;
}

header .logo {
  position: relative;
}

header .menu ul li a {
  font-family: 'Open sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #424242;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 50px;
}

header .menu ul li a:hover {
  padding-bottom: 5px;
  border-bottom: solid 1px #D8B152;
}

header .menu ul li .first {
  margin-left: 0px;
}

/***uslugi(медиафайлы)****/
.uslugi {
  padding-top: 5px;
}

.uslugi h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
  padding-bottom: 60px;
}

.uslugi .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 360px 360px;
      grid-template-columns: 360px 360px 360px;
  -ms-grid-rows: 360px;
      grid-template-rows: 360px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.uslugi .items .first {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(80, 61, 43, 0.7)), to(rgba(80, 61, 43, 0.7))), url(../images/media1.png);
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.7), rgba(80, 61, 43, 0.7)), url(../images/media1.png);
  background-size: cover;
  background-position: center;
}

.uslugi .items .second {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(80, 61, 43, 0.7)), to(rgba(80, 61, 43, 0.7))), url(../images/media2.png);
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.7), rgba(80, 61, 43, 0.7)), url(../images/media2.png);
  background-size: cover;
  background-position: center;
}

.uslugi .items .third {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(80, 61, 43, 0.7)), to(rgba(80, 61, 43, 0.7))), url(../images/media3.png);
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.7), rgba(80, 61, 43, 0.7)), url(../images/media3.png);
  background-size: cover;
  background-position: top;
}

.uslugi .items .first,
.uslugi .items .second,
.uslugi .items .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.uslugi .items .first p,
.uslugi .items .second p,
.uslugi .items .third p {
  width: 270px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.uslugi .items .first p {
  padding-top: 161px;
}

.uslugi .items .second p {
  padding-top: 161px;
}

.uslugi .items .third p {
  padding-top: 161px;
}

.uslugi .items .first .btn-head,
.uslugi .items .second .btn-head,
.uslugi .items .third .btn-head {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  bottom: 0;
  left: 25px;
}

.uslugi .items .first:hover .btn-head,
.uslugi .items .second:hover .btn-head,
.uslugi .items .third:hover .btn-head {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 25px;
}

.uslugi .items .first .btn-head a,
.uslugi .items .second .btn-head a,
.uslugi .items .third .btn-head a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 17px 80px;
  background-color: #D8B152;
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.uslugi .items .first .btn-head a,
.uslugi .items .second .btn-head a,
.uslugi .items .third .btn-head a {
  position: absolute;
  bottom: 0;
  left: 25px;
}

.uslugi .items .first .btn-head a:hover,
.uslugi .items .second .btn-head a:hover,
.uslugi .items .third .btn-head a:hover {
  color: #D8B152;
  background-color: #000000;
}

/********************************************/
.instagram h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
  padding-bottom: 60px;
}

.instagram .pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 260px 260px 260px;
      grid-template-columns: 260px 260px 260px 260px;
  -ms-grid-rows: 262px 262px;
      grid-template-rows: 262px 262px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  max-width: 1160px;
  width: 100%;
  margin-bottom: 120px;
}

.instagram .pics .p1,
.instagram .pics .p2,
.instagram .pics .p3,
.instagram .pics .p4,
.instagram .pics .p5,
.instagram .pics .p6,
.instagram .pics .p7,
.instagram .pics .p8,
.instagram .pics .p9,
.instagram .pics .p10 {
  width: 260px;
  height: 262px;
  position: relative;
}

.instagram .pics .p1 img,
.instagram .pics .p2 img,
.instagram .pics .p3 img,
.instagram .pics .p4 img,
.instagram .pics .p5 img,
.instagram .pics .p6 img,
.instagram .pics .p7 img,
.instagram .pics .p8 img,
.instagram .pics .p9 img,
.instagram .pics .p10 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.instagram .pics .p1 img:hover,
.instagram .pics .p2 img:hover,
.instagram .pics .p3 img:hover,
.instagram .pics .p4 img:hover,
.instagram .pics .p5 img:hover,
.instagram .pics .p6 img:hover,
.instagram .pics .p7 img:hover,
.instagram .pics .p8 img:hover,
.instagram .pics .p9 img:hover,
.instagram .pics .p10 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.instagram .btn-head {
  text-align: center;
}

.instagram .btn-head a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  padding: 17px 80px;
  background-color: #D8B152;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.instagram .btn-head a:hover {
  color: #D8B152;
  background-color: #000000;
}

/**********************************************/
footer {
  background-color: #202020;
  margin-top: 140px;
  position: relative;
}

a:hover {
  color: #D8B152;
}

footer .logo img {
  width: 260px;
  padding-top: 60px;
  margin-right: 30px;
  vertical-align: bottom;
}

footer h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 140px;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #D8B152;
}

footer .footer-top .information {
  padding-right: 108px;
}

footer .footer-top .information ul {
  width: 100%;
}

footer .footer-top .information ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 192px;
}

footer .footer-top .contacts {
  margin-right: 84px;
  width: 216px;
}

footer .footer-top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .contacts .telephone {
  margin-bottom: 10px;
}

footer .footer-top .contacts .telephone img,
footer .footer-top .contacts .mail img {
  vertical-align: text-bottom;
  margin-right: 10px;
}

footer .footer-top .contacts .telephone,
footer .footer-top .contacts .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .footer-top .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .social ul li {
  margin-right: 20px;
  padding: 13px;
  border: 1px solid #D8B152;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer .footer-top .social ul li:nth-child(2) a img:nth-child(2),
footer .footer-top .social ul li:nth-child(3) a img:nth-child(2),
footer .footer-top .social ul li:nth-child(4) a img:nth-child(2) {
  display: none;
}

footer .footer-top .social ul li:hover {
  background: #D8B152;
}

footer .footer-top .social ul li:nth-child(2):hover a img:nth-child(1),
footer .footer-top .social ul li:nth-child(3):hover a img:nth-child(1),
footer .footer-top .social ul li:nth-child(4):hover a img:nth-child(1) {
  display: none;
}

footer .footer-top .social ul li:nth-child(2):hover a img:nth-child(2),
footer .footer-top .social ul li:nth-child(3):hover a img:nth-child(2),
footer .footer-top .social ul li:nth-child(4):hover a img:nth-child(2) {
  display: block;
  width: 24px;
  height: 24px;
}

footer .footer-top .social ul li:first-child {
  background: #D8B152;
}

footer .footer-bottom {
  padding-top: 50px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom p a {
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid  #FFFFFF;
  color: #FFFFFF;
}

footer .footer-bottom p a:hover {
  color: #D8B152;
  border-bottom: 1px solid #D8B152;
}

.accordion-header {
  border-top: 1px solid #D8B152;
  border-bottom: 1px solid #D8B152;
}

.accordion-item {
  background-color: #202020;
}

.accordion h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 20px;
  background-color: #202020;
  border: 1px solid #D8B152;
}

.accordion-item {
  display: none;
  border: none;
}

.accordion-item h2 {
  background-color: #202020;
  font-size: 20px;
  color: #fff;
  width: 100%;
}

.accordion-item button {
  background-color: #202020;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.accordion-body {
  color: #D8B152;
  background-color: #202020;
  width: 100%;
}

.accordion-item button ul {
  color: #D8B152;
  background-color: #202020;
  width: 100%;
}

.accordion-button:not(.collapsed) {
  color: #D8B152;
  background-color: #202020;
  width: 100%;
}

.accordion-button::after {
  content: "+";
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  background-image: none;
  margin-top: 10px;
}

@media screen and (max-width: 1500px) {
  .center {
    width: 95%;
  }
  .head-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head-content .left-content {
    width: 100%;
  }
  .uslugi .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  .uslugi .items .first,
  .uslugi .items .second,
  .uslugi .items .third {
    width: 360px;
    height: 360px;
  }
  .instagram .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  footer .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-top .information {
    width: auto;
    padding-right: 10px;
  }
  footer .footer-top .contacts {
    width: auto;
    margin-right: 0;
    padding-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  header .menu ul li a {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    margin-top: 15px;
  }
  .dropdown a {
    margin-top: 0;
  }
  header .open {
    margin: 27px 0 0 0;
    right: 0;
    float: right;
    cursor: pointer;
    height: 16px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header .open span {
    padding: 0;
  }
  header .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bar1 {
    width: 65px;
    height: 2px;
    background-color: #D8B152;
  }
  .bar2 {
    width: 40px;
    height: 2px;
    background-color: #D8B152;
    margin: 5px 0 5px 0;
  }
  .bar3 {
    width: 65px;
    height: 2px;
    background-color: #D8B152;
  }
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 ширина - изменить это с помощью JavaScript */
    position: fixed;
    /* Оставайтесь на месте */
    z-index: 2;
    /* Оставайтесь сверху */
    top: 0;
    /* Оставайтесь наверху */
    right: 0;
    background-color: #857a62;
    /* Фон белый*/
    overflow-x: hidden;
    /* Отключить горизонтальную прокрутку */
    padding-top: 60px;
    /* Поместите контент в 60px сверху */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* 0.5 второй эффект перехода слайда в боковой навигации */
  }
  /* Ссылки меню навигации */
  .sidenav a {
    margin-left: 50px;
    margin-right: 50px;
    text-align: right;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    padding-bottom: 20px;
    text-decoration: none;
  }
  /* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
  .sidenav a:hover {
    color: #D8B152;
  }
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    margin-right: 0;
    color: #000000;
  }
  .sidenav .closebtn:hover {
    color: #D8B152;
  }
  .container-first .logo img:nth-child(1) {
    width: 85px;
    height: 85px;
  }
  .dropdown a {
    padding-top: 10px;
    font-size: 15px;
  }
  .dropdown .material-icons {
    font-size: 20px;
  }
  .container-first .logo img:nth-child(1) {
    width: 85px;
    height: 85px;
  }
  .dropdown a {
    padding-top: 10px;
    font-size: 15px;
  }
  .dropdown .material-icons {
    font-size: 20px;
  }
  .dark .container-first .logo img:nth-child(2) {
    width: 85px;
    height: 85px;
  }
  .container-first .logo img:nth-child(2) {
    width: 85px;
    height: 85px;
  }
  header .menu {
    display: none;
  }
  .head-content .left-content h1 {
    font-size: 25px;
  }
  .head-content .right-content p {
    font-size: 16px;
    text-align: left;
  }
  .head-content .right-content .btn-head {
    text-align: left;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .uslugi {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .uslugi h2,
  .instagram h2 {
    font-size: 25px;
    line-height: 34px;
    padding-bottom: 40px;
  }
  .uslugi .items .first,
  .uslugi .items .second,
  .uslugi .items .third {
    width: 300px;
    height: 300px;
  }
  .uslugi .items .first p,
  .uslugi .items .second p,
  .uslugi .items .third p {
    font-size: 20px;
    line-height: 27px;
  }
  .instagram .pics {
    margin-bottom: 50px;
  }
  .instagram .pics .p1,
  .instagram .pics .p2,
  .instagram .pics .p3,
  .instagram .pics .p4,
  .instagram .pics .p5,
  .instagram .pics .p6,
  .instagram .pics .p7,
  .instagram .pics .p8,
  .instagram .pics .p9,
  .instagram .pics .p10 {
    width: 140px;
    height: 140px;
  }
  .uslugi .items .first .btn-head,
  .uslugi .items .second .btn-head,
  .uslugi .items .third .btn-head {
    left: 0;
    opacity: 0;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .uslugi .items .first:hover .btn-head,
  .uslugi .items .second:hover .btn-head,
  .uslugi .items .third:hover .btn-head {
    opacity: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .uslugi .items .first .btn-head a,
  .uslugi .items .second .btn-head a,
  .uslugi .items .third .btn-head a {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
    left: 0;
  }
  .uslugi .items .first .btn-head a,
  .uslugi .items .third .btn-head a {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer {
    margin-top: 100px;
  }
  footer .footer-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 50px;
    -webkit-column-gap: auto;
            column-gap: auto;
    justify-items: space-between;
    padding-bottom: 0;
    border: 0;
  }
  footer .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
  }
  footer .logo img {
    width: 110px;
    position: absolute;
    bottom: -28px;
  }
  footer .footer-top .information {
    display: none;
  }
  footer .footer-top .contacts {
    padding-top: 95px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0;
    justify-self: flex-end;
  }
  footer .footer-top .social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer h6 {
    display: none;
  }
  .accordion-item {
    display: block;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 435px) {
  .center {
    width: 87%;
  }
  .head-content .right-content .btn-head a {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .instagram .btn-head a {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  footer .footer-top {
    width: 85%;
  }
  footer .footer-bottom {
    width: 85%;
  }
  footer .footer-top .social ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-top .social ul li {
    margin: 0;
  }
  footer .footer-bottom {
    padding-top: 90px;
    padding-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 0;
  }
  footer .footer-bottom p {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  footer .footer-bottom p:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 385px) {
  .uslugi .items {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    margin: 0 auto;
  }
  footer .logo {
    display: none;
  }
  footer .footer-top .contacts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */